*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
UnityTestProject/Library/FailedAssetImports.txt
UnityTestProject/Library/cache/
UnityTestProject/Library/previews/
UnityTestProject/Library/ScriptAssemblies
UnityTestProject/obj
UnityTestProject/Temp
UnityTestProject/Temp/
